<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!--SQL Server Connection String-->

	<connectionStrings>
		<add name="CsWin" connectionString="data source=localhost;
			 Initial Catalog=book_db; integrated security=true"
			 providerName="System.Data.SqlClient"/>
		<!--when we call the CsWin we could get the connection string-->
	</connectionStrings>
</configuration>